*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: tomato;
}

.container{
  width: 600px;
  /* height : 200px; */
}

.container__bible{
  float: left;
}

.verse{
  cursor: pointer;
}
.verse :hover{
 background-color: blue;
}