body{
  background-image: url('../public/bg.jpeg');
  
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  
  background-position: center top; 
  /* background: linear-gradient(120grad, rgb(100, 57, 134), rgb(152, 174, 213));
  position: absolute;
  width: 100%;
  height: 100%; */

}

p{ color: #3B3B3B;}

.verse{
  
}

@keyframes verse-ani{
  0%{
    transform: translate(0,0);
}
100%{
    transform: translate(-3px, -3px);
}
}
.verse:hover{
  background-color: white;
  box-shadow: 3px 3px 3px #ACA7CB;
  border-radius: 0.3em;
  animation: verse-ani .65s infinite;
  /* transform: translate(-5px,-5px); */
}

.title__background{
  position: absolute;
  
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  z-index: -200; 
  opacity: 30%;
}

.title__background--GOD{
  font-size: 20em;
}

.title__background--ISGOOD{
  font-size: 15em;
}

.verse{
  cursor: pointer;
}

/* #content:first-child{
  float:left;
}
#content:second-child{
  float:right;
} */

select{
  width : 50%;
  text-align: center;
  cursor: pointer;
  background-color: #FAF8FF;
  color: black;
  height: 45px;
}

#container {
  margin: 0 auto;
  width: 40%;  /* Ancho del contenedor */
  margin-top: 90px;
}

#container input {
height: 5.5em;
width: 0;
visibility: hidden;
}

#container label {
  background: #f9f9f9;  
  display: flex;

  color: #888;
  cursor: pointer;
  /* display: block; */
  float: left;
  font-size: 1em;  
  height: 6em;
  width: 50%;
  /* line-height: 2.5em; */
  /* margin-right: .25em; */
  /* padding: 0 1.5em; */
  text-align: center;
}

.lal__content1 svg, .lal__content2 svg{
  width: 30px;
  height: 30px;
  color: white;

}

.lal__content1{
  border-radius: .6em 0 0 0;
}

.lal__content2{
  border-radius: 0 0.6em 0 0;
}

.content-1__bibleVerse{
  overflow-y: auto;
  height: 90%;
  padding: 1.5em 1.5em 1.5em 1.5em;
}

#container input:hover + label {
background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
}

#container input:checked + label {
background: #5F5C6D;  
color: #444;
position: relative;
z-index: 6;
/*
-webkit-transition: .1s;
-moz-transition: .1s;
-o-transition: .1s;
-ms-transition: .1s;
*/
}

#content {
  border-radius: 0 .25em .25em .25em;
  position: relative;
  width: 100%;
  z-index: 5;
}

#content #content-1 {
  opacity: 0;
  /* padding: 0 1.5em 0 0; */
  position: absolute;
  z-index: -100;
  transition: all linear 0.1s;
  
  }

#content #content-2 {
opacity: 0;
padding: 1.5em;
position: absolute;
z-index: -100;
transition: all linear 0.1s;

}

#content-1, #content-2{
  height: 600px;
  background-color: #E3E0F3;
  border-bottom-left-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
}

#content-1 p {
clear: both;
margin-bottom: 1em;
}

#content-1 p.last {
margin-bottom: 0;
}

#content-2 p {
float: left;
/* width: 48.5%; */
}
#content-2 p.column-right {
margin-left: 3%;
}



#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2{
  opacity: 1;
  z-index: 100;
}

input.visible {
visibility: visible !important;
}