body{
  background-image: url('../public/bg.jpeg');
  /* responsive background img */
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100%;
  background-position: center top; 

}

.verse{
  cursor: pointer;
}

#container {
  margin: 0 auto;
  width: 40%;  /* Ancho del contenedor */
  margin-top: 90px;
}

#container input {
height: 2.5em;
width: 0;
visibility: hidden;
}

#container label {
  background: #f9f9f9;  /* Fondo de las pestañas */

  color: #888;  /* Color del texto de las pestañas */
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1em;  /* Tamaño del texto de las pestañas */
  height: 4em;
  width: 50%;
  /* line-height: 2.5em; */
  /* margin-right: .25em; */
  /* padding: 0 1.5em; */
  text-align: center;
}

.lal__content1{
  border-radius: .6em 0 0 0;
}

.lal__content2{
  border-radius: 0 0.6em 0 0;
}


#container input:hover + label {
background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
}

#container input:checked + label {
background: #f1f1f1;  /* Fondo de las pestañas al presionar */
color: #444; /* Color de las pestañas al presionar */
position: relative;
z-index: 6;
/*
-webkit-transition: .1s;
-moz-transition: .1s;
-o-transition: .1s;
-ms-transition: .1s;
*/
}

#content {
  border-radius: 0 .25em .25em .25em;
  position: relative;
  width: 100%;
  z-index: 5;
}

#content #content-1 {
  opacity: 0;
  padding: 1.5em;
  position: absolute;
  z-index: -100;
  transition: all linear 0.1s;
  
  }

#content #content-2 {
opacity: 0;
padding: 1.5em;
position: absolute;
z-index: -100;
transition: all linear 0.1s;

}

#content-1, #content-2{
  height: 600px;
  overflow-y: auto;
}

#content-1 p {
clear: both;
margin-bottom: 1em;
}
#content-1 p.left img {
float: left;
margin-right: 1em;
}
#content-1 p.last {
margin-bottom: 0;
}

#content-2 p {
float: left;
/* width: 48.5%; */
}
#content-2 p.column-right {
margin-left: 3%;
}



#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2{
  opacity: 1;
  z-index: 100;
}

input.visible {
visibility: visible !important;
}